body {
    margin: 0;
    padding: 0;
}

.bar {
    background-image: url('./bar.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 20px; */
    top: 10px;
}

.menu {
    background-color: aliceblue;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bartender {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    width: fit-content;
    gap: 10px;
}