body {
    margin: 0;
    padding: 0;
}

.bar {
    /* 
    background-image: url('./bar.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 200px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
}

.bartender {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    width: fit-content;
    gap: 10px;
}